= form_with(model: user, method: :post, class:"space-y-3") do |form|
  %div
    = form.label :name, style: "display: block"
    = form.text_field :name, required: true
  %div
    = form.label :email, style: "display: block"
    = form.text_field :email, requried: true
  %div
    = form.label :role, style: "display: block"
    = form.select(:role, [["Patron", "patron"],["Librarian", "librarian", disabled: true]], include_blank: "Select", requried: true)
  %div
    = form.label :password, style: "display: block"
    = form.password_field :password, required: true
  %div
    = form.label :password_confirmation, style: "display: block"
    = form.password_field :password_confirmation, required: true
  %div
    = form.submit class: "bg-green-400 hover:bg-green-500 text-white font-semibold py-1 px-3 rounded-full"