%p{:style => "color: green"}= notice
%div.space-y-3
  %p.text-xl.font-semibold= "#{@book.title} - #{@book.author}"
  %div.space-y-3
    = link_to "Edit this book", edit_book_path(@book), class: "bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-3 rounded-full"
    \#{link_to "Back to books", books_path, class: "bg-blue-400 hover:bg-blue-500 text-white font-semibold py-1 px-3 rounded-full"}

    \#{button_to "Destroy this book", @book, method: :delete, class: "bg-red-400 hover:bg-red-500 text-white font-semibold py-1 px-3 rounded-full"}
